.all-tweets {
  margin-top: 20px;
  border: #545149;
  border-style: solid;
 }

.all-tweets header {
  display: flex;
  justify-content: space-between;
  font-family: 'Source Sans Pro', sans-serif;

  margin: 2%;
}

.all-tweets * p {
  overflow-wrap: break-word;
}

.all-tweets header > p {
  opacity: 0;
  transition: all ease 0.8s;
  color: rgba(162, 157, 157, 0.29) ;
}

 .all-tweets article {
   padding-left: 2%;
  text-align: left;
   margin: 2%;
  border: #545149;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
}

.all-tweets footer {
  padding-left: 2%;
  padding-right: 2%;
  font-size: 1rem;
  margin: 2%;
  display: flex;
  justify-content: space-between;
}

.all-tweets:hover {
  box-shadow: 5px 5px 0 #888;
}

.all-tweets:hover header > p {
  opacity: 1;
}

.fa-heart:hover {
  color: red;
  animation: .8s infinite beatHeart;
}
.fa-heart:clicked {
  color: red;
  animation: .8s infinite beatHeart;
}
.fa-retweet-alt:hover {
  color: blueviolet;
  animation:spin 4s infinite;
}
.fa-flag:hover {
  color: green;
  animation:wink 4s infinite;
}


@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


@keyframes beatHeart {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes wink {
  0% {-webkit-transform: rotate(-40deg);
-moz-transform: rotate(-40deg);
-o-transform: rotate(-40deg);
-ms-transform: rotate(-40deg);
transform: rotate(-40deg);
}


100% {-webkit-transform: rotate(40deg);
-moz-transform: rotate(40deg);
-o-transform: rotate(40deg);
-ms-transform: rotate(40deg);
transform: rotate(40deg);}



}

/* 
margin: 0;
border-bottom-color: #555149;
border-bottom-width: thick;

min-width: -webkit-fill-available;
background-color: #f5f1ec; */