nav {
  display: inline-flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  position: fixed;
  top: 0;
  height: 120px;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #4056A1;
  color: #FFFF;
  padding: 1.5em; 
 }  

 .navRight {
  font-family: 'Source Sans Pro', sans-serif;
 }

 .navSpan {
  font-family: 'Bungee', cursive;
 }

 .rightNav {
  display: flex;
  flex-direction: column;  
  align-items: center;
 }

.fa-angle-double-down {
  cursor: pointer;
  animation-name: bounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

 .fa-angle-double-down:hover {
  color: red;
  transition: all .5s ease-in-out;
  height: 10px;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
 }

 @keyframes bounce {

  from {
    top: 10px;
    animation-timing-function: ease-out;
  }

  25% {
    top: 5px;
    animation-timing-function: ease-in;
  }

  50% {
    top: 15px;
    animation-timing-function: ease-out;
  }

  75% {
    top: 7px;
    animation-timing-function: ease-in;
  }

  to {
    top: 10px;
  }

}